/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Biko-Black", Helvetica, Arial, sans-serif;
  src: url("../fonts/Biko_Black.eot?") format("eot"), url("../fonts/Biko_Black.woff") format("woff"), url("../fonts/Biko_Black.ttf") format("truetype"), url("../fonts/Biko_Black.svg#Biko-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
  Flaticon icon font: Flaticon
  Creation date: 05/07/2017 16:21
  */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.flaticon-hail:before {
  content: "\f100";
}
.flaticon-summer:before {
  content: "\f101";
}
.flaticon-rain-cloud:before {
  content: "\f102";
}
.flaticon-sun:before {
  content: "\f103";
}
@keyframes loaderAnimation {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  25%,
  75% {
    transform: translateY(10%);
  }
}
body {
  color: #fff;
}
a {
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
.site-wrapper {
  position: relative;
  padding-top: 60px;
  transition: background-color 0.6s ease-in-out;
}
.site-wrapper.bg-red {
  background-color: #FE4E5B;
}
.site-wrapper.bg-purple {
  background-color: #a970ff;
}
.color-green {
  color: #70ff91;
}
.color-light-blue {
  color: #8cb6c8;
}
.block {
  display: block;
  float: none!important;
}
.inline-block {
  display: inline-block;
}
.tabled-el {
  display: table;
  width: 100%;
  max-width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.mt-15 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-30 {
  margin-bottom: 30px;
}
.fs-20 {
  font-size: 20px;
}
.biko-black {
  font-family: "Biko-Black", Helvetica, Arial, sans-serif;
}
.h-30 {
  height: 30px;
}
.h-60 {
  height: 60px;
}
.h-100vh {
  height: calc(100vh - 60px);
}
.full-vh {
  height: 100vh;
}
.w-600 {
  width: 100%;
  max-width: 600px;
}
.preload-animation {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.preload-animation.hide-screen {
  opacity: 1;
}
.preload-animation.hide-screen .cm-animation-loader {
  display: none;
}
.cm-animation-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #FE4E5B;
  z-index: 999;
}
.cm-animation-loader .loader-img-container img {
  height: 90px;
  transition: transform 0.4s ease-in-out;
  animation: loaderAnimation 5s infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
.header-region {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.widget.add-to-favorites a {
  text-decoration: none;
}
.widget.burger-menu .nav-icon {
  width: 30px;
  height: 30px;
  display: table;
}
.widget.burger-menu .nav-icon span {
  display: block;
  margin-bottom: 6px;
  background-color: #70ff91;
  height: 2px;
}
.widget.burger-menu .nav-icon span:last-of-type {
  margin-bottom: 0;
}
.widget.header-logo img {
  height: 28px;
  opacity: 0.7;
}
.widget.main-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 320px;
  width: 100%;
  background: #70ff91;
  z-index: 5;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}
.widget.main-menu-container.opened {
  transform: translateX(0%);
}
.widget.main-menu-container > .inner-wrapper {
  height: 100%;
  position: relative;
  padding-bottom: 155px;
}
.widget.main-menu-container .close-menu {
  background: none;
  border: 0;
  color: #a970ff;
}
.widget.main-menu-container .close-menu img {
  height: 22px;
}
.widget.main-menu-container .list-container {
  position: relative;
  padding: 5vh 0 5vh;
}
.widget.main-menu-container .list-container:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 40px;
  background-color: #a970ff;
}
.widget.main-menu-container .list-container a {
  color: #a970ff;
  text-decoration: none;
  font-size: 24px;
}
.widget.main-menu-container .socials-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #a970ff;
  padding-bottom: 90px;
}
.widget.main-menu-container .socials-container a {
  color: #a970ff;
}
.widget.main-menu-container .socials-container .item {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
}
.widget.main-menu-container .socials-container .item:last-of-type {
  margin-right: 0;
}
.widget.main-menu-container .socials-container .list {
  font-size: 0;
}
.widget.main-menu-container .txt-container {
  font-size: 24px;
  width: 100px;
  padding: 8vh 0 8vh;
}
.widget.location-form .access-location {
  padding: 8px 15px;
  background-color: #70ff91;
  color: #a970ff;
  text-decoration: none;
  font-size: 23px;
}
.widget.location-form .access-location .icon-container {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.widget.location-form .btn {
  border-radius: 0;
}
.widget.location-form .fa {
  color: #a970ff;
}
.widget.location-form .form-control {
  box-shadow: none;
  background-color: #a970ff;
  border-color: #a970ff;
  border-radius: 0;
  color: #cca9ff;
}
.widget.location-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #cca9ff;
}
.widget.location-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #cca9ff;
}
.widget.location-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #cca9ff;
}
.widget.location-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cca9ff;
}
.widget.location-form .inner-wrapper {
  width: 100%;
  max-width: 300px;
  padding: 0 15px;
}
.widget.location-form .input-group {
  border: 7px solid #a970ff;
}
.widget.search-results .response-container .list {
  overflow: hidden;
}
.widget.search-results .response-container .item {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}
.widget.search-results .response-container .item:first-of-type {
  width: 100%;
  margin-bottom: 80px;
}
.widget.search-results .response-container .item:first-of-type [class^="flaticon-"]:before {
  font-size: 80px;
}
.widget.search-results .response-container .item:first-of-type .day-container {
  display: none;
  margin-bottom: 0;
}
.widget.search-results .response-container .item:first-of-type .txt-container {
  font-size: 20px;
}
.widget.search-results .response-container .item .day-container {
  margin-bottom: 15px;
}
.widget.search-results [class^="flaticon-"]:before {
  margin-left: 0;
  font-size: 45px;
}
@media only screen and (max-width: 911px) {
  .widget.search-results .response-container .item {
    margin-bottom: 15px;
    width: 100%;
  }
  .widget.search-results .response-container .item:first-of-type {
    margin-bottom: 15px;
  }
  .widget.search-results .response-container .item:first-of-type [class^="flaticon-"]:before {
    font-size: 45px;
  }
}
@media only screen and (max-width: 480px) {
  .widget.main-menu-container > .inner-wrapper {
    padding-bottom: 100px;
  }
  .widget.main-menu-container .list-container a {
    font-size: 20px;
  }
  .widget.main-menu-container .txt-container {
    font-size: 20px;
    padding: 4vh 0 4vh;
  }
  .widget.main-menu-container .socials-container {
    padding-bottom: 35px;
  }
}
